@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #932b37;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

@layer components {
  .btn-primary {
    @apply w-full cursor-pointer rounded-md bg-black px-4 py-3 text-xs font-medium text-white transition-colors duration-200 hover:bg-gray-800;
  }

  .btn-small-light {
    @apply flex items-center gap-1.5 text-[12px] font-medium text-purple-600 bg-purple-50 hover:bg-purple-100 border border-purple-100 rounded-md px-3 py-1.5 cursor-pointer;
  }
  .btn-small {
  @apply flex items-center gap-2 text-[13px] font-medium text-white bg-gradient-to-r from-purple-500 to-purple-700 hover:from-purple-600 hover:to-purple-800 rounded px-3 py-1.5 cursor-pointer;
}
}